@model MVCA.Models.Timesheet
@{
    ViewBag.Title = "index";
}

@using (Html.BeginForm())
{


    <label>Id : </label>
    @Html.TextBoxFor(m => m.id)
    @Html.ValidationMessageFor(m => m.id)


    <label>Task : </label>
    @Html.TextBoxFor(m => m.task)
    @Html.ValidationMessageFor(m => m.task)


    <label>Time : </label>
    @Html.TextBoxFor(m => m.time)
    @Html.ValidationMessageFor(m => m.time)


    <label>Name : </label>
    @Html.TextBoxFor(m => m.personname)
    @Html.ValidationMessageFor(m => m.personname)


    <input id="Submit" type="button"  value="add" />
    
    <h2>enter id to delete</h2>
    
    <label>Id : </label>
    @Html.TextBoxFor(m => m.id)
    @Html.ValidationMessageFor(m => m.id)


    <input id="Submit" type="button"  value="Delete" />
    
    
<div>
    @Html.ActionLink("Return to Home page", "Index", "Home")
</div>
}


